@use 'sass:map';
@import '/src/styles/variables.module.scss';

.tagline {
  color: $grey500;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  font-style: italic;
}

.title {
  color: $grey900;
  padding-bottom: 10px;
}

.storeContainer {
  padding-top: 35px;
  padding-bottom: 25px;
}

.container {
  padding-top: 120px;
  padding-bottom: 30px;
}

@media screen and (max-width: map.get($breakpoint, 'lg')) {
  .container {
    padding-top: 100px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: map.get($breakpoint, 'md')) {
}
@media screen and (max-width: map.get($breakpoint, 'sm')) {
}
