/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
  src: url('../../public/fonts/Montserrat/Montserrat-Black.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: italic;
  src: url('../../public/fonts/Montserrat/Montserrat-BlackItalic.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src: url('../../public/fonts/Montserrat/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: italic;
  src: url('../../public/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('../../public/fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: italic;
  src: url('../../public/fonts/Montserrat/Montserrat-BoldItalic.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url('../../public/fonts/Montserrat/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  src: url('../../public/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url('../../public/fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: italic;
  src: url('../../public/fonts/Montserrat/Montserrat-MediumItalic.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('../../public/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
  src: url('../../public/fonts/Montserrat/Montserrat-Italic.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url('../../public/fonts/Montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  src: url('../../public/fonts/Montserrat/Montserrat-LightItalic.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  font-style: normal;
  src: url('../../public/fonts/Montserrat/Montserrat-ExtraLight.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  font-style: italic;
  src: url('../../public/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: normal;
  src: url('../../public/fonts/Montserrat/Montserrat-Thin.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: italic;
  src: url('../../public/fonts/Montserrat/Montserrat-ThinItalic.ttf');
}

/* Libre Bodoni */
@font-face {
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-style: normal;
  src: url('../../public/fonts/Libre_Bodoni/LibreBodoni-Bold.ttf');
}
@font-face {
  font-family: 'Libre Bodoni';
  font-weight: 700;
  font-style: italic;
  src: url('../../public/fonts/Libre_Bodoni/LibreBodoni-BoldItalic.ttf');
}
@font-face {
  font-family: 'Libre Bodoni';
  font-weight: 600;
  font-style: normal;
  src: url('../../public/fonts/Libre_Bodoni/LibreBodoni-SemiBold.ttf');
}
@font-face {
  font-family: 'Libre Bodoni';
  font-weight: 600;
  font-style: italic;
  src: url('../../public/fonts/Libre_Bodoni/LibreBodoni-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'Libre Bodoni';
  font-weight: 500;
  font-style: normal;
  src: url('../../public/fonts/Libre_Bodoni/LibreBodoni-Medium.ttf');
}
@font-face {
  font-family: 'Libre Bodoni';
  font-weight: 500;
  font-style: italic;
  src: url('../../public/fonts/Libre_Bodoni/LibreBodoni-MediumItalic.ttf');
}
@font-face {
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-style: normal;
  src: url('../../public/fonts/Libre_Bodoni/LibreBodoni-Regular.ttf');
}
@font-face {
  font-family: 'Libre Bodoni';
  font-weight: 400;
  font-style: italic;
  src: url('../../public/fonts/Libre_Bodoni/LibreBodoni-Italic.ttf');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
