@import '/src/styles/variables.module.scss';

.header {
}

.headerTop {
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid $grey300;
  font-size: 14px;
  line-height: 1.4;

  * {
    font-size: inherit;
    line-height: inherit;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      + li {
        margin-left: 24px;
      }
    }
  }
}

.headerMiddle {
	padding-top: 30px;
	padding-bottom: 10px;
  .container {
    display: flex;
    align-items: center;
    .side {
      flex: 1;
      max-width: 433px;
    }
    .center {
      flex: 1;
      min-width: 0;
      text-align: center;
    }
  }
}
