$primary: #2685f1;
$primaryPink: #e55c8a;
$secondary: #284a75;
$secondaryDark: #1b3250;
$ghost: #e4e8ec;
$success: #00b16a;
$warning: #fe921d;
$error: #f44d2c;
$info: #2685f1;
$white: #ffffff;
$black: #000000;
$blue50: #e3f2ff;
$blue100: #bcdeff;
$blue200: #91caff;
$blue300: #65b5ff;
$blue400: #45a4ff;
$blue500: #2b94ff;
$blue600: #2d87f3;
$blue700: #2c74df;
$blue800: #2b62cd;
$blue900: #2743ad;
$yellow50: #fff8e2;
$yellow100: #ffecb6;
$yellow200: #ffe187;
$yellow300: #ffd658;
$yellow400: #ffcb37;
$yellow500: #ffc326;
$yellow600: #ffb521;
$yellow700: #fea21e;
$yellow800: #fe921d;
$yellow900: #fc7419;
$green50: #e0f8ee;
$green100: #b3eed5;
$green200: #7ce2b9;
$green300: #2ed69e;
$green400: #00cb8a;
$green500: #00c076;
$green600: #00b16a;
$green700: #009e5c;
$green800: #008c50;
$green900: #006c39;
$teal50: #e0f7fc;
$teal100: #b1ebf8;
$teal200: #7ddff3;
$teal300: #44d1ec;
$teal400: #00c7e6;
$teal500: #00bee0;
$teal600: #00aecd;
$teal700: #0099b2;
$teal800: #008599;
$teal900: #00626c;
$red50: #fae9e8;
$red100: #feccbf;
$red200: #feaa96;
$red300: #ff886c;
$red400: #ff6f4d;
$red500: #ff5331;
$red600: #f44d2c;
$red700: #e64728;
$red800: #d84023;
$red900: #bf331b;
$neutral50: #f7f9fc;
$neutral100: #e4e8ec;
$neutral200: #d2d6dc;
$neutral300: #bfc5cc;
$neutral400: #adb3bc;
$neutral500: #9aa2ac;
$neutral600: #87909c;
$neutral700: #757f8c;
$neutral800: #626d7c;
$redViolet50: #f3eaeb;
$redViolet100: #e8d5d7;
$redViolet200: #ddc1c4;
$redViolet300: #d1acb0;
$redViolet400: #c5979c;
$redViolet500: #ba8288;
$redViolet600: #af6d74;
$redViolet700: #a35961;
$redViolet800: #97444d;
$redViolet900: #8c2f39;
$pink50: #fff1f6;
$pink100: #ffdce9;
$pink200: #fec7dc;
$pink300: #feb2cf;
$pink400: #fe9dc2;
$pink500: #fd87b4;
$pink600: #fd72a7;
$pink700: #fc5d9a;
$pink800: #fc488d;
$pink900: #e92d74;
$gray50: #fafafa;
$gray100: #f2f2f2;
$gray200: #d9d9d9;
$gray300: #bfbfbf;
$gray400: #8c8c8c;
$gray500: #737373;
$gray600: #595959;
$gray700: #404040;
$gray800: #262626;
$violet50: #f5edff;
$violet100: #e7d2f7;
$violet200: #d8b7f0;
$violet300: #ca9ce8;
$violet400: #bb82e1;
$violet500: #ad67d9;
$violet600: #9e4cd1;
$violet700: #9031ca;
$violet800: #8116c2;

:export {
	colors: {
		primary: #2685f1;
		primaryPink: #e55c8a;
		secondary: #284a75;
		secondaryDark: #1b3250;
		ghost: #e4e8ec;
		success: #00b16a;
		warning: #fe921d;
		error: #f44d2c;
		info: #2685f1;
		white: #ffffff;
		black: #000000;
		blue50: #e3f2ff;
		blue100: #bcdeff;
		blue200: #91caff;
		blue300: #65b5ff;
		blue400: #45a4ff;
		blue500: #2b94ff;
		blue600: #2d87f3;
		blue700: #2c74df;
		blue800: #2b62cd;
		blue900: #2743ad;
		yellow50: #fff8e2;
		yellow100: #ffecb6;
		yellow200: #ffe187;
		yellow300: #ffd658;
		yellow400: #ffcb37;
		yellow500: #ffc326;
		yellow600: #ffb521;
		yellow700: #fea21e;
		yellow800: #fe921d;
		yellow900: #fc7419;
		green50: #e0f8ee;
		green100: #b3eed5;
		green200: #7ce2b9;
		green300: #2ed69e;
		green400: #00cb8a;
		green500: #00c076;
		green600: #00b16a;
		green700: #009e5c;
		green800: #008c50;
		green900: #006c39;
		teal50: #e0f7fc;
		teal100: #b1ebf8;
		teal200: #7ddff3;
		teal300: #44d1ec;
		teal400: #00c7e6;
		teal500: #00bee0;
		teal600: #00aecd;
		teal700: #0099b2;
		teal800: #008599;
		teal900: #00626c;
		red50: #fae9e8;
		red100: #feccbf;
		red200: #feaa96;
		red300: #ff886c;
		red400: #ff6f4d;
		red500: #ff5331;
		red600: #f44d2c;
		red700: #e64728;
		red800: #d84023;
		red900: #bf331b;
		neutral50: #f7f9fc;
		neutral100: #e4e8ec;
		neutral200: #d2d6dc;
		neutral300: #bfc5cc;
		neutral400: #adb3bc;
		neutral500: #9aa2ac;
		neutral600: #87909c;
		neutral700: #757f8c;
		neutral800: #626d7c;
		redViolet50: #f3eaeb;
		redViolet100: #e8d5d7;
		redViolet200: #ddc1c4;
		redViolet300: #d1acb0;
		redViolet400: #c5979c;
		redViolet500: #ba8288;
		redViolet600: #af6d74;
		redViolet700: #a35961;
		redViolet800: #97444d;
		redViolet900: #8c2f39;
		pink50: #fff1f6;
		pink100: #ffdce9;
		pink200: #fec7dc;
		pink300: #feb2cf;
		pink400: #fe9dc2;
		pink500: #fd87b4;
		pink600: #fd72a7;
		pink700: #fc5d9a;
		pink800: #fc488d;
		pink900: #e92d74;
		gray50: #fafafa;
		gray100: #f2f2f2;
		gray200: #d9d9d9;
		gray300: #bfbfbf;
		gray400: #8c8c8c;
		gray500: #737373;
		gray600: #595959;
		gray700: #404040;
		gray800: #262626;
		violet50: #f5edff;
		violet100: #e7d2f7;
		violet200: #d8b7f0;
		violet300: #ca9ce8;
		violet400: #bb82e1;
		violet500: #ad67d9;
		violet600: #9e4cd1;
		violet700: #9031ca;
		violet800: #8116c2;
	}
}